The following is a report generated from the test suite.

 "spec" Reporter:
------------------------------------------------------------------
[chrome 95.0.4638.69 windows #0-0] Running: chrome (v95.0.4638.69) on windows
[chrome 95.0.4638.69 windows #0-0] Session ID: 8735c71d94b294f058fc87e7f529fb4b
[chrome 95.0.4638.69 windows #0-0]
[chrome 95.0.4638.69 windows #0-0] » \test\specs\checkout.test.js
[chrome 95.0.4638.69 windows #0-0] Checkout
[chrome 95.0.4638.69 windows #0-0]    ✓ should update price to reflect changes in cart
[chrome 95.0.4638.69 windows #0-0]    ✓ should remove item when delete is clicked
[chrome 95.0.4638.69 windows #0-0]    ✓ should remove item from cart when quantity is zero
[chrome 95.0.4638.69 windows #0-0]    ✓ should successfully check out using bank wire with existing user
[chrome 95.0.4638.69 windows #0-0]    ✓ should successfully check out using pay by bank wire with new user
[chrome 95.0.4638.69 windows #0-0]    ✓ should add new delievery address during checkout
[chrome 95.0.4638.69 windows #0-0]    ✓ should add new invoice address during checkout
[chrome 95.0.4638.69 windows #0-0]    ✓ should successfully check out using pay by check with new user
[chrome 95.0.4638.69 windows #0-0]
[chrome 95.0.4638.69 windows #0-0] 8 passing (1m 48.4s)
------------------------------------------------------------------
[chrome 95.0.4638.69 windows #0-1] Running: chrome (v95.0.4638.69) on windows
[chrome 95.0.4638.69 windows #0-1] Session ID: e12a14fa847bfb2e40bf40b256a8a30b
[chrome 95.0.4638.69 windows #0-1]
[chrome 95.0.4638.69 windows #0-1] » \test\specs\contactus.test.js
[chrome 95.0.4638.69 windows #0-1] Contact Us
[chrome 95.0.4638.69 windows #0-1]    ✓ should list order with correct number of products
[chrome 95.0.4638.69 windows #0-1]    ✓ should successfully send messsage
[chrome 95.0.4638.69 windows #0-1]    ✓ should show any new orders in order references
[chrome 95.0.4638.69 windows #0-1]
[chrome 95.0.4638.69 windows #0-1] 3 passing (32.2s)
------------------------------------------------------------------
[chrome 95.0.4638.69 windows #0-2] Running: chrome (v95.0.4638.69) on windows
[chrome 95.0.4638.69 windows #0-2] Session ID: f5eb459ef04b47acd094f955d05078c4
[chrome 95.0.4638.69 windows #0-2]
[chrome 95.0.4638.69 windows #0-2] » \test\specs\registration.test.js
[chrome 95.0.4638.69 windows #0-2] Registration
[chrome 95.0.4638.69 windows #0-2]    ✓ should successfully register account and save information
[chrome 95.0.4638.69 windows #0-2]
[chrome 95.0.4638.69 windows #0-2] 1 passing (7.9s)


Spec Files:      3 passed, 3 total (100% completed) in 00:02:36